@import "./variables.less";
@import "./mixins.less";
#elearning_app {
  background: @baseBackgroundDark !important;
  .controls {
    position: relative;
  }

  .snackbar_btn.v-btn { 
    color: @secondaryColor !important;
    background: transparent !important;
  }

  .exo_cancel_btn.v-btn {
    background: transparent !important;
  }
  
  .tuto_list_img {
    height: 150px;
  }
  
  .tuto_img {
    height: 150px;
    filter: blur(5px);
  }
  #themes_dashboard{
    height: 550px;
    #themes_card_list {
      min-height: 100%;
      .theme_cards_container{
        position: relative;
        display: flex;
        align-items: center;
        max-height: 150px;
        .theme_cards{
          max-width: 305.25px;
          margin-left: 10px;
          margin-right: 10px;
          height: max-content;
        }
      }
      margin-left: 25px;
      margin-right: 25px;
      position: relative;
      background: @baseBackgroundDefault !important;   
      #theme_card {
        position: relative;
        #theme_card_footer {
          background: @orangeColor;
          height: 5px;
          position: relative;
        }
        #theme_card_title {
          width: 200px !important;
          justify-content: center;
        }
        .theme_items{
          box-shadow: none !important;
          border-left: .1px solid rgba(87,141,201, .3) !important;
          border-top: .1px solid rgba(87,141,201, .3) !important;
          border-right: .1px solid rgba(87,141,201, .3) !important;
          position: relative;
          .theme_card_toolbar{
            margin-top: 10px;
            position: relative;
          }
          .theme_card_menu_icon{
            color: rgba(87,141,201, .3) !important;
          }
          .theme_card_menu {
            right: 27px;
            left: auto!important;
            top: 25px!important;
            .card_menu_list.v-list{
              padding-top: 5px !important;
              padding-bottom: 5px !important;
              .v-list-item{
                min-height: 5px;
                padding-left: 10px !important;
                padding-right: 10px !important;
                padding-top: 3px !important;
                padding-bottom: 3px !important;
              }
              .menu_list_items{
                .theme_menu_icon.v-icon{
                  color: @primaryColor;
                  font-size: 20px;
                }
                .theme_menu_text{
                  font-size: 0.769rem !important;
                }
              }
            }
          }
          
            .theme_card_content{
              height: 40px !important;
              display: flex; 
              margin-top: 15px !important;
                .theme_card_space_avatar.v-avatar{
                  display: inline-flex;
                  align-items: center;
                }
                .theme_card_space_name{
                  display: inline-flex;
                  align-items: center;
                  margin-left: 10px;
                }
            }
          
        }
      }
        
    }
  };
  #theme_dashboard_toolbar{
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    
    #ThemeDashboardToolbar{
      height: 75px !important;
      #theme_add_btn.v-icon{
        color: @btnPrimaryBackground !important;
      }
      #theme_add_list_btn.v-icon{
        color: @btnPrimaryBackground !important;
      }
      .add_theme_wrapper {
        position: relative;
      }
      .theme_Dashboard_menu {
        right: 290px;
        left: auto!important;
        top: 40px!important;
        .toolbar_menu_list.v-list{
          padding-top: 5px !important;
          padding-bottom: 5px !important;
          .v-list-item{
            min-height: 5px;
            padding-left: 10px !important;
            padding-right: 10px !important;
            padding-top: 3px !important;
            padding-bottom: 3px !important;
          }
          .toolbar_menu_list_items{
            .toolbar_menu_icon.v-icon{
              color: @primaryColor;
              font-size: 20px;
            }
            .toolbar_menu_text{
              font-size: 0.769rem !important;
            }
          }
        }
      }
    }
  }
  #themes_management{
    .theme_drawer_btn_add.v-btn {
      color: @btnPrimaryColor !important;
      background: @btnPrimaryBackground !important;
      position: relative;
      float: right;
      margin-left: 10px;
    }
    .exo_cancel_btn{
      position: relative;
      float: right;
    }
    .theme_drawer_btn_cancel.v-btn {
      position: relative;
      float: right;
    }
    .theme_title_label{
      font-weight: 600;
      margin-left: 20px;
      margin-top: 20px;
    }
    .primary_theme_input{
      width: 75%;
      margin-left: 20px;
    }
  }
}
  /*
  #tutorials_dashboard{
    #tutos_card_list{
      #tutorial_card{
        .tuto_items{
          #tuto_card_footer{
            background: @primaryColor;
            height: 5px;
          }
        }
      }
    }
  }
  */
