@import "./variables.less";
@import "./mixins.less";

#elearning_app {
  min-height: 86vh;
  padding: 20px;

  .v-alert {
    z-index: 99999 !important;
  }

  //custom colors
  .no_border_color {
    background: #eeeeee;
  }

  .asparagus_border {
    background: #909958 !important;
  }

  .laurel_green_border {
    background: #BED67E !important;
  }

  .moss_green_border {
    background: #98CC81 !important;
  }

  .munsell_blue_border {
    background: #319AB3 !important;
  }

  .sky_blue_border {
    background: #4DBED9 !important;
  }

  .powder_blue_border {
    background: #9EE4F5 !important;
  }

  .baby_blue_border {
    background: #B2E2FF !important;
  }

  .navy_blue_border {
    background: #4273C8 !important;
  }

  .blue_gray_border {
    background: #8EB0EA !important;
  }

  .light_blue_border {
    background: #B3CFFF !important;
  }

  .light_gray_border {
    background: #CDCDCD !important;
  }

  .purple_border {
    background: #774EA9 !important;
  }

  .light_purple_border {
    background: #BC99E7 !important;
  }

  .pink_border {
    background: #FFC8F0 !important;
  }

  .beige_border {
    background: #FFE1BE !important;
  }

  .hot_pink_border {
    background: #F97575 !important;
  }

  .light_brown_border {
    background: #C5B294 !important;
  }

  .gray_border {
    background: #A39594 !important;
  }

  .plum_border {
    background: #CEA6AC !important;
  }

  .Orange_border {
    background: #FFA500 !important;
  }

  .green_border {
    background: #4CAF50 !important;
  }

  .red_border {
    background: #F44336 !important;
  }

  .yellow_border {
    background: #ffeb3b !important;
  }

  .brown_border {
    background: #795548 !important;
  }

  .v-application--wrap {
    background-color: @baseBackgroundDefault;
  }

  .controls {
    position: relative;
  }

  .exo_cancel_btn.v-btn {
    background: transparent !important;
  }

  .tuto_img {
    height: 150px;
    filter: blur(5px);
  }

  /********* Themes ***********/

  #themes_dashboard, #theme-tutorial-mix-dashboard {
    max-height: max-content;

    #theme_tutorial_dashboard_toolbar {
      #themeTutorialDashboardToolbar {
        z-index: 1;

        ul {
          li {
            color: @primaryColor;
          }

          li:last-child {
            color: @textColor;
            cursor: default;
          }
        }

        .breadcrumb {
          cursor: pointer;
        }

        .add_them_tutorial_wrapper {
          position: relative;

          #theme_tutorial_add_btn.v-icon {
            color: @btnPrimaryBackground !important;
          }
        }

        .tutorial_Dashboard_menu {
          right: 280px;
          left: auto !important;
          top: 48px !important;

          .toolbar_menu_list.v-list {
            padding-top: 5px !important;
            padding-bottom: 5px !important;

            .v-list-item {
              min-height: 5px;
              padding-left: 10px !important;
              padding-right: 10px !important;
              padding-top: 3px !important;
              padding-bottom: 3px !important;
            }

            .toolbar_menu_list_items {
              .toolbar_menu_icon.v-icon {
                color: @primaryColor;
                font-size: 20px;
              }

              .toolbar_menu_text {
                font-size: 0.769rem !important;
              }
            }
          }
        }
      }
    }

    .v-card__subtitle {
      min-height: 54px;
    }

    #tuto_toolbar_prom.v-icon {
      color: @btnPrimaryBackground !important;
    }

    #themes_card_list.empty {
      padding: 0;
    }

    #themes_card_list {
      padding: 10px;

      .theme_cards_row {
        .theme_cards {
          #theme_card {
            #theme_card_title {
              cursor: pointer;
            }

            .theme_card_menu {
              left: 44% !important;
              top: 20% !important;

              .card_menu_list.v-list {
                .v-list-item {
                  min-height: 5px;
                  padding-left: 10px !important;
                  padding-right: 10px !important;
                  padding-top: 3px !important;
                  padding-bottom: 3px !important;
                }

                .menu_list_items {
                  .theme_menu_icon.v-icon {
                    color: @primaryColor;
                    font-size: 20px;
                  }

                  .theme_menu_text {
                    font-size: 0.769rem !important;
                  }
                }

                .noColorLabel {
                  border: 1px solid @borderColor;
                  cursor: pointer;
                }

                .themeColorPicker {
                  width: 144px;
                  max-width: 144px;

                  .themeColorCell {
                    width: 20px;
                    height: 20px;
                    min-width: 20px;
                    min-height: 20px;
                    margin: 2px;
                    cursor: pointer;
                  }

                  .isSelected {
                    position: relative;
                    text-align: center;

                    &:before {
                      content: '\e9c6';
                      font-family: 'PLF-FONT-ICONS' !important;
                      color: white;
                      font-size: 14px;
                    }
                  }
                }
              }
            }

            .theme_card_content {
              margin-top: 15px !important;

              .theme_card_space_avatar.v-avatar {
                display: inline-flex;
                align-items: center;
              }
            }

            .theme_card_footer {
              height: 5px;
            }
          }
        }
      }
    }
  }

  #themes_management {
    .theme_drawer_btn_add.v-btn {
      color: @btnPrimaryColor !important;
      background: @btnPrimaryBackground !important;
      position: relative;
      float: right;
      margin-left: 10px;
      box-shadow: none !important;
    }

    .theme_drawer_btn_add.v-btn:disabled {
      color: @btnPrimaryColor !important;
      background: @btnPrimaryDisableBackground !important;
      position: relative;
      float: right;
      margin-left: 10px;
      box-shadow: none !important;
    }

    .exo_cancel_btn {
      position: relative;
      float: right;
      box-shadow: none !important;
      border: .1px solid rgba(87, 141, 201, .3) !important;
    }
  }

  .theme_title_label {
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
  }

  .primary_theme_input {
    width: 75%;
    margin-left: 20px;
  }


  /********* Tutorials ***********/

  #theme-tutorial-mix-dashboard {
    max-height: max-content;

    #tutos_card_list {
      padding: 10px;
      background: @baseBackgroundDefault !important;

      .tuto_cards_row {
        #tutorial_card {
          #tuto_card_footer {
            height: 5px;
          }
        }

        .tuto_cards {
          .tutorial_card_menu {
            left: 43% !important;
            top: 19% !important;

            .card_menu_list.v-list {
              .v-list-item {
                min-height: 5px;
              }

              .menu_list_items {
                .tuto_menu_text {
                  font-size: 0.769rem !important;
                }
              }
            }
          }
        }
      }
    }
  }

  #tutorials_management {
    .tutorial_steps_wrapper {
      margin-left: -10px !important;
      margin-top: -10px !important;

      .stepper_label {
        margin-left: 2px;
        color: darkGrey !important;
      }

      .tuto_title_label {
        font-weight: 600;
        margin-left: 10px;
      }

      .primary_tutorial_input {
        border-radius: 3px;
        border: 1px solid @greyColor !important;
        max-width: 100%;
        padding: 3px 10px;
        margin-left: 10px;
      }

      .primary_text_area_input {
        padding-top: 0px;
        margin-left: 10px;
      }

      .tuto_description_label {
        font-weight: 600;
        margin-top: 20px;
        margin-left: 10px;
      }

      .tutorial_stepper_next_btn {
        float: right;
        border: 1px solid @btnPrimaryBackground !important;
        background-color: @btnPrimaryColor !important;
        color: @btnPrimaryBackground;
        margin-top: 10px;

        .tutorial_stepper_next_btn_icon.v-icon {
          color: @btnPrimaryBackground;
          margin-left: 5px;
          font-size: 20px;
        }
      }

      .tutorial_stepper_next_btn:disabled {
        float: right;
        border: 1px solid @btnPrimaryDisableBackground !important;
        background-color: @btnPrimaryColor !important;
        color: @btnPrimaryDisableBackground !important;
        margin-top: 10px;

        .tutorial_stepper_next_btn_icon.v-icon {
          color: @btnPrimaryDisableBackground !important;
          margin-left: 5px;
          font-size: 20px;
        }
      }

      #themes_checkbox_container {
        padding-bottom: 12px;
        padding-top: 0px;
        margin-top: -20px;
      }

      .tutorial_stepper_back_btn {
        float: left;
        border: 1px solid @darkGrey !important;
        background-color: @btnPrimaryColor !important;
        color: @darkGrey;
        margin-top: 10px;

        .tutorial_stepper_back_btn_icon.v-icon {
          color: @darkGrey;
          margin-right: 5px;
          font-size: 20px;
        }
      }
    }

    .tuto_drawer_btn_add.v-btn {
      color: @btnPrimaryColor !important;
      background: @btnPrimaryBackground !important;
      position: relative;
      float: right;
      margin-left: 10px;
      box-shadow: none !important;
    }

    .tuto_drawer_btn_add.v-btn:disabled {
      color: @btnPrimaryColor !important;
      background: @btnPrimaryDisableBackground !important;
      position: relative;
      float: right;
      margin-left: 10px;
      box-shadow: none !important;
    }

    .exo_cancel_btn {
      position: relative;
      float: right;
      box-shadow: none !important;
      border: .1px solid rgba(87, 141, 201, .3) !important;
    }
  }

  #tutorial_update {
    #id_update_form {
      padding-top: 21px;
      padding-right: 26px;
      padding-left: 15px;

      .tuto_title_label {
        font-weight: 600;
        margin-left: 10px;
      }

      .primary_tutorial_input {
        border-radius: 3px;
        border: 1px solid @greyColor !important;
        max-width: 100%;
        padding: 3px 10px;
        margin-left: 10px;
      }

      .primary_text_area_input {
        padding-top: 0px;
        margin-left: 10px;
      }

      .tuto_description_label {
        font-weight: 600;
        margin-top: 20px;
        margin-left: 10px;
      }
    }

    .tuto_drawer_btn_update.v-btn {
      color: @btnPrimaryColor !important;
      background: @btnPrimaryBackground !important;
      position: relative;
      float: right;
      margin-left: 10px;
      box-shadow: none !important;
    }

    .tuto_drawer_btn_update.v-btn:disabled {
      color: @btnPrimaryColor !important;
      background: @btnPrimaryDisableBackground !important;
      position: relative;
      float: right;
      margin-left: 10px;
      box-shadow: none !important;
    }

    .exo_cancel_btn {
      position: relative;
      float: right;
      box-shadow: none !important;
      border: .1px solid rgba(87, 141, 201, .3) !important;
    }
  }

  #tutorial_update {
    #themes_checkbox_container {
      padding-bottom: 12px;
      padding-top: 0px;
      margin-top: -20px;
    }

    .tuto_drawer_btn_move.v-btn {
      color: @btnPrimaryColor !important;
      background: @btnPrimaryBackground !important;
      position: relative;
      float: right;
      margin-left: 10px;
      box-shadow: none !important;
    }

    .tuto_drawer_btn_move.v-btn:disabled {
      color: @btnPrimaryColor !important;
      background: @btnPrimaryDisableBackground !important;
      position: relative;
      float: right;
      margin-left: 10px;
      box-shadow: none !important;
    }

    .exo_cancel_btn {
      position: relative;
      float: right;
      box-shadow: none !important;
      border: .1px solid rgba(87, 141, 201, .3) !important;
    }
  }
}

#eLearningEditor {
  position: fixed;
  height: 100%;
  top: 0;
  z-index: 1031;
  background: #eeeeee;

  .eLearning-topbar {
    width: 100%;
    z-index: 10;
    background-color: @baseBackground;
    position: absolute;

    .eLearningActions {
      //TODO remove paddings
      .eLearningFormButtons {
        .eLearningFormLeftActions {
          flex: auto;

          img {
            height: 40px;
          }

          input[type="text"] {
            flex: 0 1 100%;
            font-size: 24px;

            &:focus {
              box-shadow: none !important;
            }
          }
        }

        .eLearningFormRightActions {
          position: relative;
          display: inline-flex;

          .draftSavingStatus {
            align-self: center;
          }

          .settings-archive-btns {
            place-self: center;

            button {
              color: @toolbarLightIconColor;
            }
          }

          #eLearningUpdateAndPost {
            height: 36px;
            min-width: 64px;

            .publish-and-post-btn {
              left: auto !important;
              right: 20px;
              top: 40px !important;
              background: @baseBackground;
              min-width: 180px !important;
            }

            #eLearningPublichAndPost {
              &:focus {
                &::after {
                  opacity: 0 !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .eLearning-content-wrapper {
    height: calc(~"100vh - 126px");
    overflow: auto;
    z-index: 5;
    background-color: #eeeeee;
    margin-top: 79px;

    .eLearning-content {
      background-color: @baseBackground;
      height: calc(~"100vh - 126px");
      border-radius: 4px;

      .step-form {

        .top-bar {
          .preview-btn {
            border: 2px solid @primaryColor;
          }
        }

        #stepTitle {
          width: 100%;
          box-sizing: border-box;
          font-size: 21px;
          letter-spacing: 0.3px;
          border-bottom: solid 1px @greyColor !important;

          &:focus {
            box-shadow: none !important;
          }

          &::placeholder {
            color: @greyColorLighten1 !important;
          }
        }

        .content-dashboard {
          height: calc(~"100vh - 250px");

          .group-steps {
            background-color: @baseBackgroundDark;
            border-radius: 4px;

            .add-step-wrapper {
              text-align: center;
              color: @toolbarLightIconColor;

              .add-step {
                display: flex;
                width: 16vw;
                height: 16vh;
                cursor: pointer;
                border-radius: 4px;
                background-color: @baseBackground;
              }

              .add-step > div {
                display: inline-grid;
                width: 87%;
                height: 77%;
                margin: auto;
                border: 1px dashed;
                color: @toolbarLightIconColor;

                i {
                  color: @toolbarLightIconColor;
                }
              }
            }
          }


          .step-media-selector {
            height: 46vh;

            .media {
              display: inline-flex;
              width: 100%;
              height: 100%;
              cursor: pointer;
              border: 1px dashed;
              border-radius: 4px;
              color: @toolbarLightIconColor;
            }

            .media > div {
              width: fit-content;
              margin: auto;

              p {
                font-size: 20px;
                font-weight: bold;
                text-align: center;
              }

              i {
                display: grid;
                color: @toolbarLightIconColor;
              }
            }
          }

          .step-content-wrapper {
            max-height: 23vh;

            #stepTop {
              display: block;
              box-shadow: 0 3px 5px hsla(0, 1%, 43%, 0.24);
              z-index: 10;

              .cke_top {
                height: auto;
              }

              .cke_toolbox {
                flex-flow: wrap;
                background: #fdfdfd !important;
                background-image: none !important;
                border-bottom: 0;
              }

              .cke_shared {
                border: 0;
              }
            }

            #cke_stepContent {
              border-color: transparent;
              flex: 0 1 100%;
              margin-bottom: 0;

              .cke_contents.cke_reset {
                height: 142px !important;
              }

            }
          }

        }
      }
    }
  }
}
